# ######################################################################
#  
include Make.inc
#
# ######################################################################
#
INCdep           = \
   $(INCdir)/hpl_pmisc.h $(INCdir)/hpl_timer.h
#
## Object files ########################################################
#
HPL_timobj       = \
   HPL_timer.o            HPL_timer_cputime.o    HPL_timer_walltime.o
#
## Targets #############################################################
#
all     : lib 
#
lib     : lib.grd
#
lib.grd : $(HPL_timobj)
	$(ARCHIVER) $(ARFLAGS) $(HPLlib) $(HPL_timobj)
	$(RANLIB) $(HPLlib)
	$(TOUCH) lib.grd
#
# ######################################################################
#
HPL_timer.o            : ../HPL_timer.c            $(INCdep)
	$(CC) -o $@ -c $(CCFLAGS)  ../HPL_timer.c
HPL_timer_cputime.o    : ../HPL_timer_cputime.c    $(INCdep)
	$(CC) -o $@ -c $(CCFLAGS)  ../HPL_timer_cputime.c
HPL_timer_walltime.o   : ../HPL_timer_walltime.c   $(INCdep)
	$(CC) -o $@ -c $(CCFLAGS)  ../HPL_timer_walltime.c
#
# ######################################################################
#
clean            :
	$(RM) *.o *.grd
#
# ######################################################################
